---
import { getCollection } from "astro:content";
import PageLayout from "@layouts/PageLayout.astro";
import Container from "@components/Container.astro";
import FormattedDate from "@components/FormattedDate.astro";
import { readingTime } from "@lib/utils";
import BackToPrev from "@components/BackToPrev.astro";
import Link from "@components/Link.astro";

const lau = Astro.url.pathname.includes('/en/') ? 'en' : 'es';

export async function getStaticPaths() {
    const projects = (await getCollection(`projects`))
    .filter(project => project.id.startsWith("es"));

  return projects.map(project => {
    const [lang, ...slug] = project.slug.split('/');
    return {
      params: { lang, slug: slug.join('/') },
      props: project,
    };
  });
}

const { lang } = Astro.params;
const page = Astro.props;

const { Content } = await page.render();
---

<PageLayout title={page.data.title} description={page.data.description}>
  <Container>
    <div class="animate">
      <BackToPrev href={`/projects/${lau}/`}>
        {lang === 'en' ? 'Back to projects' : 'Volver a proyectos'}
      </BackToPrev>
    </div>
    <div class="space-y-1 my-10">
      <div class="animate flex items-center gap-1.5">
        <div class="font-base text-sm">
          <FormattedDate date={page.data.date} />
        </div>
        &bull;
        <div class="font-base text-sm">
          {readingTime(page.body)}
        </div>
      </div>
      <div class="animate text-2xl font-semibold text-black dark:text-white">
        {page.data.title}
      </div>
      {(page.data.demoURL || page.data.repoURL) && (
        <nav class="animate flex gap-1">
          {page.data.demoURL && (
            <Link href={page.data.demoURL} external>
              demo
            </Link>
          )}
          {page.data.demoURL && page.data.repoURL && (
            <span>/</span>
          )}
          {page.data.repoURL && (
            <Link href={page.data.repoURL} external>
              repo
            </Link>
          )}
        </nav>
      )}
    </div>
    <article class="animate">
      <Content />
    </article>
  </Container>
</PageLayout>
